* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    background: rgb(8, 193, 226);
    position: sticky;
    top: 0;
}

header>h1 {
    text-align: center;
    padding: 20px;
    font-size: 4rem;
}

body {
    background-color: chocolate;
}

#game_board {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    justify-content: center;
    margin-top: 5%;
}

.grid {
    height: 60px;
    width: 60px;
    border: 1px solid black;
}

