* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    background: rgb(8, 193, 226);
    position: sticky;
    top: 0;
}

header>h1 {
    text-align: center;
    padding: 20px;
    font-size: 4rem;
}

body {
    background-color: chocolate;
}

.grid-container {

    display: grid;
    grid-template-columns: repeat(7, 90px);
    justify-content: center;
    margin-top: 5%;
}

.grid {
    height: 90px;
    width: 90px;
    border: 1px solid black;
}

footer {
    position: fixed;
    position: fixed;
    bottom: 0;
    height: 90px;
    background: rgb(104, 95, 88);
    width: 100%;
}