/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: 0 auto;
}

header {
    background: rgb(77, 103, 107);
    position: sticky;
    top: 0;
}

header>h1 {
    text-align: center;
    padding: 20px;
    font-size: 4rem;
}

body {
    background-color: rgb(196, 187, 181);
}

#game_board {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    justify-content: center;
    margin-top: 5%;
}

.grid {
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 50%;
} */
.red{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: red;
}
td {
    border: 1px solid blue;
    width: 50px;
    height:50px;
    color: red;
      font-size: 20px;
  
  }
  td:hover {
    background: orange;
  }
  table {
    border: 1px solid green;
    margin: 0 auto;
    color: red;
    
    font-size: 20px;
  }